In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/game_sales_data.csv')
df.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [7]:
print(df['Publisher'].value_counts())

Activision               1024
Ubisoft                   950
Electronic Arts           829
Konami                    768
Nintendo                  765
                         ...
Wadjet Eye Games            1
Pipliz                      1
ANPA.US                     1
Hammerfall Publishing       1
GMX Media                   1
Name: Publisher, Length: 1012, dtype: int64

In [9]:
print(df['Platform'].value_counts())

DS      2251
PS2     2214
PC      1913
PS3     1368
Wii     1352
PSP     1313
X360    1302
PS      1205
PS4      953
GBA      857
XB       836
PSV      643
3DS      619
GC       561
XOne     539
N64      320
NS       299
SNES     241
SAT      175
WiiU     161
2600     133
NES      102
GB        94
DC        52
GEN       32
NG        12
PSN       10
XBL        9
GBC        9
WS         7
SCD        6
3DO        4
VC         3
PCE        2
Amig       1
PCFX       1
Mob        1
Name: Platform, dtype: int64